In [37]:
ib.connect_db("ib://yy2827/W4111-DB/fs/Instabase Drive/databases")

Connected to: ib://yy2827/W4111-DB/fs/Instabase Drive/databases

In [38]:
%config SqlMagic.autocommit=False
ib.connect_db("postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111")

Connected to: postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111

### venmo users

In [39]:
%%sql

drop table if exists venmo_users cascade;

create table venmo_users(
    user_name text primary key,
    full_name text not null,
    photo_link text,
    fb_account text
);

Done.
Done.

Empty DataFrame
Columns: []
Index: []

### transaction_transfer

In [40]:
%%sql

drop table if exists transa_transf cascade;

create table transa_transf(
    payment_id int primary key,
    created_time date not null,
    pay_charge text not null,
    actor_name text not null references venmo_users(user_name),
    target_name text not null references venmo_users(user_name),
    message text not null
)

Done.
Done.

Empty DataFrame
Columns: []
Index: []

### interaction

In [44]:
%%sql
drop table if exists interact,interaction,comments,likes cascade;

create table interaction(
    interaction_id int primary key,
    created_time date not null
);

create table comments(
    interaction_id int primary key references interaction,
    content text
);

create table likes(
    interaction_id int primary key references interaction,
    rating int
);

create table interact(
    payment_id int references transa_transf,
    user_name text references venmo_users,
    interact_id int references interaction,
    primary key(payment_id,user_name,interact_id)
);

Done.
Done.
Done.
Done.
Done.

Empty DataFrame
Columns: []
Index: []

## Not sure: Personal history for the users in the transaction records
    Add as the weak entity of venmo_users

In [42]:
%%sql
drop table if exists pers_hist;

create table pers_hist(
    payment_id int,
    user_name text not null references venmo_users on delete cascade,
    primary key (payment_id,user_name),
    target_name text not null,
    pay_charge text not null,
    created_time date not null,
    message text not null
)

Done.
Done.

Empty DataFrame
Columns: []
Index: []