In [11]:
ib.connect_db("ib://yy2827/W4111-DB/fs/Instabase Drive/databases")

Connected to: ib://yy2827/W4111-DB/fs/Instabase Drive/databases

In [12]:
%config SqlMagic.autocommit=False
ib.connect_db("postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111")

Connected to: postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111

### risk_rank table

In [13]:
%%sql

drop table if exists risk_rank cascade;

create table risk_rank(
    rid int primary key,
    risk_level int not null,
    search_result text not null
);

Done.
Done.

Empty DataFrame
Columns: []
Index: []

### venmo users

In [15]:
%%sql

drop table if exists venmo_users_risk cascade;

create table venmo_users_risk(
    user_name text primary key,
    full_name text not null,
    photo_link text,
    fb_account text,
    rid int not null references risk_rank(rid)
);

Done.
Done.

Empty DataFrame
Columns: []
Index: []

### transaction_transfer

In [40]:
%%sql

drop table if exists transa_transf cascade;

create table transa_transf(
    payment_id int primary key,
    created_time date not null,
    pay_charge text not null,
    actor_name text not null references venmo_users(user_name),
    target_name text not null references venmo_users(user_name),
    message text not null
)

Done.
Done.

Empty DataFrame
Columns: []
Index: []

### interaction

In [44]:
%%sql
drop table if exists interact,interaction,comments,likes cascade;

create table interaction(
    interaction_id int primary key,
    created_time date not null
);

create table comments(
    interaction_id int primary key references interaction,
    content text
);

create table likes(
    interaction_id int primary key references interaction,
    counts int
);

create table interact(
    payment_id int references transa_transf,
    user_name text references venmo_users,
    interact_id int references interaction,
    primary key(payment_id,user_name,interact_id)
);

Done.
Done.
Done.
Done.
Done.

Empty DataFrame
Columns: []
Index: []

## Queries

### 1. How many transactions per person in the past week?

In [22]:
%%sql
with trans (name, trans_id) as (
    select vur.full_name, tt.payment_id from venmo_users_risk as vur
    left join transa_transf as tt on vur.user_name = tt.actor_name
    where tt.created_time >= current_date - interval '7 days'
    union
    select vur.full_name, tt.payment_id from venmo_users_risk as vur
    left join transa_transf as tt on vur.user_name = tt.target_name
    where tt.created_time >= current_date - interval '7 days'
)
select name, count(*) as transactions from trans
group by name;

Done.

Empty DataFrame
Columns: [name, transactions]
Index: []

### 2. How many persons transacted with in the past week?

In [25]:
%%sql
with trans_person (name, trans_name) as (
    select vur.full_name, tt.actor_name from venmo_users_risk as vur
    left join transa_transf as tt on vur.user_name = tt.target_name
    where tt.created_time >= current_date - interval '7 days'
    union
    select vur.full_name, tt.target_name from venmo_users_risk as vur
    left join transa_transf as tt on vur.user_name = tt.actor_name
    where tt.created_time >= current_date - interval '7 days'
)
select name, count(trans_name) as persons from trans_person
group by name;

Done.

Empty DataFrame
Columns: [name, persons]
Index: []